input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

  .ui-state-highlight {
    width: 170px;
    height: 243px;
    line-height: 1.2em;
    background-color: #ffd699 !important;
  }
  .custom-select:after {
    content: "\f107";
    font-family: FontAwesome;
  }
